@page "/login"

<h3>Login Screen</h3>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <EditForm Model="@login" OnValidSubmit="HandleValidSubmit" FormName="loginForm">
             
                <DataAnnotationsValidator />

                <div class="mb-3 text-start">
                    <label class="form-label">Email address</label>
                    <InputText class="form-control" @bind-Value="login.UserName" />
                    <div class="form-text">We'll never share your email with anyone else.</div>
                    <ValidationMessage For="@(() => login.UserName)" class="text-danger" />
                </div>

                <div class="mb-3 text-start">
                    <label class="form-label">Password</label>
                    <InputText type="password" class="form-control" @bind-Value="login.Password" />
                    <ValidationMessage For="@(() => login.Password)" class="text-danger" />
                </div>

                <div class="mb-3 form-check text-start">
                    <InputCheckbox class="form-check-input" @bind-Value="login.RememberMe" />
                    <label class="form-check-label">Check me out</label>
                </div>

                @if (isLoading)
                {
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                }

                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
    <div class="row">
        @if (isValidCredentials.HasValue)
        {
            <div class="alert alert-@(isValidCredentials == true ? "primary" : "danger") mt-3" role="alert">
                @message
            </div>
        }
    </div>
</div>